<section class="mx-auto container-img vertical-center col-lg-10 col-md-11 col-sm-12 p-0 pb-3">
  <h1 class="text-center font-h1">My Products</h1>
  <a routerLink="/add-product" class="btn site-btn my-1 col-xl-2 col-lg-3 col-md-4 col-sm-5 col-5"
    style="border-radius: 0;">Add Product</a>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Price</th>
        <th class="text-center">Short Description</th>
        <th class="text-center">Weight</th>
        <th class="text-center">Available Inventory</th>
        <th class="text-center">Product Information</th>
        <th class="text-center">Category</th>
        <th class="text-center">Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of myProducts">
        <td class="text-center" *ngFor="let head of tableHeads">{{prod[head]}}</td>
        <td class="text-center">
          <p><a class="btn btn-primary  text-white" (click)="editClick(prod['_id'])">Edit</a> | <a
              class="btn btn-primary text-white" (click)="detailClick(prod['_id'])">Details</a> | <a class="btn btn-danger text-white"
              (click)="deleteClick(prod['_id'])" data-toggle="modal" data-target="#exampleModalCenter">Delete</a></p>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalOnClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this item?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" #modalClose data-dismiss="modal"
          (click)="modalOnClose()">Cancel</button>
        <button type="button" class="btn btn-danger"
          (click)="confirmDelete($event); modalClose.click();">Confirm</button>
      </div>
    </div>
  </div>
</div>
