<section class="breadcrumb-section set-bg col-12 mb-5">
    <img src="assets/img/titleBG.jpg" class="col-12"
      style="max-height: 150px; filter: brightness(50%); position: absolute;" alt="">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="breadcrumb__text">
            <h2>About Us</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
<div class="container text-center">
    <p class="organix-desc">
        A health food online store that sells healthy, organic foods and local products. 
        It serves for a wider or more specialized selection of foods than conventional grocery stores for the customers,
        for example people with special dietary needs, such as people who are allergic to the gluten in wheat or some other substance, 
        and for people who observe vegetarian, vegan, raw food, organic, or other alternative diets.
    </p>
</div>

<h2 class="mb-3 ml-3 title text-center">About Team</h2>
<div class="container box mb-5">
    <div class="col-8 text-center">
      <div class="row text-center">
            <div class="col-12">
                <div class="row text-center">
                    <div class="col-4">
                        <img class="rounded-circle shadow team-member" alt="" data-holder-rendered="true"
                        src="assets/img/Team/mostafa.jpg"
                        data-holder-rendered="true">
                        <h3>M.Fathy</h3>
                    </div>
                    <div class="col-4">
                        <img class="rounded-circle shadow team-member" alt=""
                        src="assets/img/Team/abdo.jpg"
                        data-holder-rendered="true">
                        <h3>A.Hashem</h3>
                    </div>
                    <div class="col-4">
                        <img class="rounded-circle shadow team-member" alt="" data-holder-rendered="true"
                        src="assets/img/Team/saleh.jpg"
                        data-holder-rendered="true">
                        <h3>A.Saleh</h3>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row text-center">
                    <div class="col-5" style="margin-left: 55px;">
                        <img class="rounded-circle shadow team-member" alt="" data-holder-rendered="true"
                        src="assets/img/Team/ana.jpg"
                        data-holder-rendered="true">
                        <h3>M.Alphonse</h3>
                    </div>
                    <div class="col-5">
                        <img class="rounded-circle shadow team-member" alt=""
                        src="assets/img/Team/hatem.jpg"
                        data-holder-rendered="true">
                        <h3>M.Hatem</h3>
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <div class="col-4 team-desc-box">
        <ul class="m-auto" style="font-size: 25px;">
            <li class="p-2 mb-2"><a href="https://github.com/AhmSaleh" target="_blank"><i class="bi bi-github"></i> Ahmed Saleh</a></li>
            <li class="p-2  mb-2"><a href="https://github.com/mostafa-fathy-mostafa" target="_blank"><i class="bi bi-github"></i>Mostafa Fathy</a></li>
            <li class="p-2  mb-2"><a href="https://github.com/Mohamed-Hatem-Ibrahim" target="_blank"><i class="bi bi-github"></i>Mohamed Hatem</a></li>
            <li class="p-2  mb-2"><a href="https://github.com/abdo1819" target="_blank"><i class="bi bi-github"></i>Abdelrahman Ragab</a></li>
            <li class="p-2 mb-2"><a href="https://github.com/Mina-Alphonse" target="_blank"><i class="bi bi-github"></i> Mina Alphonse</a></li>
        </ul> 
    </div>
</div>