@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

* {
  font-family: "Cairo", sans-serif !important;
}

.container-img {
  /* width: 65%; */
  /* background-image: url("/assets/img/saleh.jpeg"); */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: auto auto auto auto;
  padding: 0;
  border-radius: 5px;
}

.product-img-container {
  position: relative;
  width: fit-content;
}

.product-img {
  display: block;
  width: fit-content;
  height: 250px;
}

.text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.media {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  overflow: hidden;
  position: relative;
}

.media:hover {
  cursor: pointer;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  height: 30%;
  width: 100%;
  bottom: 0;
  z-index: 3;
  opacity: 0;
  transition: all ease-in-out 0.5s;
}

.media:hover .overlay {
  opacity: 1;
}

img {
  width: 100%;
  z-index: -1;
  margin: auto;
  transform: scale(1);
  transition: all ease-in-out 0.5s;
}

.media:hover img {
  transform: scale(1);
  filter: blur(1px);
}

.image-details {
  text-align: center;
  color: white;
  font-size: 25px;
  z-index: 4;
  position: absolute;
  top: 100%;
  opacity: 0;
  transition: all ease-in-out 0.5s;
}

.media:hover .image-details {
  top: 75%;
  opacity: 1;
}
