<section class="jumbotron my-form-color container-img vertical-center my-3 col-lg-7 col-md-9 col-sm-11">
  <h1 class="text-center text-black bold" style="font-size: 60px;">Register</h1>
  <div class="container col-lg-8 col-md-9 col-sm-10">
    <form [formGroup]="myRegisterForm" novalidate (ngSubmit)="onSubmit()">
      <fieldset formGroupName="name" class="container-fluid">
        <div class="row">
          <div class="form-group mt-3 col p-0 pr-1 mb-0">
            <label for="register-first">First Name</label>
            <input type="text" id="register-first" class="form-control {{firstOpacity()}} {{firstClass()}}"
              formControlName="first" placeholder="First Name" />
            <span class="form-text form-control-feedback" style="color: #dc3545;"
              [ngClass]="{'visible': (firstClass() == invalidClass), 'invisible' :(firstClass() != invalidClass)}">First
              name is required.</span>
          </div>

          <div class="form-group mt-3 col p-0 pl-1 mb-0">
            <label for="register-last">Last Name</label>
            <input type="text" id="register-last" class="form-control {{lastOpacity()}} {{lastClass()}}"
              formControlName="last" placeholder="Last Name" />
            <span class="form-text form-control-feedback" style="color: #dc3545;"
              [ngClass]="{'visible': (lastClass() == invalidClass), 'invisible' :(lastClass() != invalidClass)}">Last
              name is required.</span>
          </div>
        </div>
      </fieldset>

      <div class="form-group mb-0">
        <label for="register-email">Email</label>
        <input type="email" id="register-email" class="form-control {{emailOpacity()}} {{emailClass()}}"
          formControlName="email" placeholder="Email" [ngClass]="{'mb-4':(emailClass() == 'validClass')}" />
        <span [ngClass]="{'visible': (emailClass() == invalidClass), 'invisible' :(emailClass()!= invalidClass)}">
          <p class="form-text form-control-feedback m-0" style="color: #dc3545;"
            *ngIf="emailErrors() == 'required'; else elseEmail">
            Email is required.</p>
          <ng-template #elseEmail>
            <p class="form-text form-control-feedback m-0" style="color: #dc3545;">
              Email
              format is incorrect.</p>
          </ng-template>
        </span>
      </div>

      <div class="form-group mb-0">
        <label for="register-password">Password</label>
        <input type="password" id="register-password" class="form-control {{passwordOpacity()}} {{passwordClass()}}"
          formControlName="password" placeholder="Password" [ngClass]="{'mb-4':(passwordClass() == 'validClass')}" />
        <small id="passwordHelpBlock" class="form-text text-muted opacity-75">
          Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special
          characters, or emoji.
        </small>
        <span
          [ngClass]="{'visible': (passwordClass() == invalidClass), 'invisible' :(passwordClass() != invalidClass)}">
          <p class="form-text form-control-feedback m-0" style="color: #dc3545;"
            *ngIf="passwordErrors() == 'required'; else elsePassword">
            Password is required.</p>
          <ng-template #elsePassword>
            <p class="form-text form-control-feedback m-0" style="color: #dc3545;">Password is too long.</p>
          </ng-template>
        </span>
      </div>

      <div class="form-group mb-0">
        <label for="register-role">Role</label>
        <select id="register-role" class="form-control form-select {{roleOpacity()}} {{roleClass()}}"
          formControlName="role" style="cursor: pointer;">
          <option value="" hidden selected>Please select a role</option>
          <option *ngFor="let role of availableRoles" [value]="role.toLowerCase()">{{role}}</option>
        </select>
        <span [ngClass]="{'visible': (roleClass() == invalidClass), 'invisible' :(roleClass() != invalidClass)}">
          <p class="form-text form-control-feedback m-0" style="color: #dc3545;">Role is required.</p>
        </span>
      </div>

      <div class="form-group mb-0">
        <label for="register-phone">Phone</label>
        <input type="text" id="register-phone" class="form-control {{phoneOpacity()}} {{phoneClass()}}"
          formControlName="phone" placeholder="Phone" [ngClass]="{'mb-4':(phoneClass() == 'validClass')}" />
        <span [ngClass]="{'visible': (phoneClass() == invalidClass), 'invisible' :(phoneClass()!= invalidClass)}">
          <p class="form-text form-control-feedback m-0" style="color: #dc3545;"
            *ngIf="phoneErrors() == 'required'; else elsePhone">
            Phone is required.</p>
          <ng-template #elsePhone>
            <p class="form-text form-control-feedback m-0" style="color: #dc3545;">
              Phone format is incorrect.</p>
          </ng-template>
        </span>
      </div>

      <div class="form-group mb-0">
        <label for="register-address">Address</label>
        <input type="text" id="register-address" class="form-control {{addressOpacity()}} {{addressClass()}}"
          formControlName="address" placeholder="Address" [ngClass]="{'mb-4':(addressClass() == 'validClass')}" />
        <span [ngClass]="{'visible': (addressClass() == invalidClass), 'invisible' :(addressClass()!= invalidClass)}">
          <p class="form-text form-control-feedback m-0" style="color: #dc3545;">address is required.</p>
        </span>
      </div>

      <div class="form-group mb-0">
        <label for="add-product-image">Image</label>
        <div class="input-group" (click)="imgInput.click()">
          <input type="text" class="form-control {{imgClass()}} {{imgOpacity()}}" id="add-product-image"
            placeholder="Choose file..." style="display: inline;" [value]="imageString">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Button</button>
          </div>
        </div>
        <input #imgInput type="file" class="form-control {{imgClass()}}" style="display:none;"
          id="add-product-image-hidden" name="img" (change)="selectImage($event)">
        <span [ngClass]="{'visible': (imgClass() == invalidClass), 'invisible' :(imgClass() != invalidClass)}">
          <p class="form-text form-control-feedback m-0" style="color: #dc3545;">
            Image is required.</p>
        </span>
      </div>

      <div class="d-flex justify-content-center pb-3">
        <button type="submit" class="site-btn mx-1 col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">Register</button>
        <button type="reset" class="site-btn btn-secondary mx-1 col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6"
          (click)="onReset()">Reset</button>
      </div>

    </form>
  </div>
</section>

<!-- <pre>{{email.errors|json}}</pre> -->
