<section class="breadcrumb-section set-bg col-12 mb-5">
  <img src="assets/img/titleBG.jpg" class="col-12"
    style="max-height: 150px; filter: brightness(50%); position: absolute;" alt="">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Category Details</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="my-form-color mx-auto container-img vertical-center col-lg-7 col-md-9 col-sm-11 p-0 pb-3">
  <div class="container col-lg-8 col-md-9 col-sm-10">
    <div class="media mb-4">
      <img *ngIf="!img" class="product-img" src="assets/img/product/product-1.jpg" />
      <img *ngIf="img" class="product-img embed-responsive-item" [src]="img || img" />
    </div>
    <dl class="row">
      <dt class="col-xl-6 col-lg-6 col-sm-12">
        Name:
      </dt>
      <dd class="col-xl-6 col-lg-6 col-sm-12">
        {{this.myForm.controls['name'].value}}
      </dd>
    </dl>
    <div class="d-flex justify-content-center">
      <button type="button" class="site-btn btn-secondary mx-1 col-xl-4 col-lg-5 col-md-6 col-sm-6 col-6"
        (click)="onReturn()" style="background-color:rgb(108, 117, 125) ;">Return To Categories</button>
      <button type="button" class="site-btn btn-secondary mx-1 col-xl-4 col-lg-5 col-md-6 col-sm-6 col-6"
        (click)="onEdit()">Edit Category</button>
    </div>
  </div>
</section>
