<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
      <!-- <app-search></app-search> -->
      <div class="row">
        <div class="col-lg-3 d-lg-block d-sm-none d-none">
          <div class="hero__categories">
            <div class="hero__categories__all">
              <i class="fa fa-bars"></i>
              <span>All Categories</span>
            </div>
            <app-categories></app-categories>
          </div>
        </div>
        <div class="col-lg-9">
          <div
            class="hero__item set-bg"
            style="background-image: url('/assets/img/hero/banner.jpg')"
          >
            <div class="hero__text">
              <span>FRESH PRODUCTS</span>
              <h2>Goods <br />100% Organic</h2>
              <p>Free Pickup and Delivery Available</p>
              <a routerLink="/shop" class="primary-btn">SHOP NOW</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Hero Section End -->