.sidenav {
    width: 300px;
    background: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    overflow-y: auto;
	overflow-x: hidden;
    z-index: 1;
    padding-top: 60px;
    display: block;
    -webkit-transition: all, 0.6s;
    -moz-transition: all, 0.6s;
    -ms-transition: all, 0.6s;
    -o-transition: all, 0.6s;
    transition: all, 0.6s;
  }
  .sidenav__menu__logo {
    margin-bottom: 30px;
  }
  .sidenav__menu__logo a {
    display: inline-block;
  }
  .sidenav__menu__contact {
    padding: 10px 0 13px;
  }
  .sidenav__menu__contact ul li {
    font-size: 14px;
    color: #1c1c1c;
    position: relative;
    line-height: 30px;
    list-style: none;
  }
  .sidenav__menu__contact ul li i {
    color: #252525;
    margin-right: 5px;
  }
  .sidenav__menu__cart ul {
    display: inline-block;
    margin-right: 25px;
  }
  .sidenav__menu__cart ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
  }
  .sidenav__menu__cart ul li:last-child {
    margin-right: 0;
  }
  .sidenav__menu__cart ul li a {
    position: relative;
  }
  .sidenav__menu__cart ul li a i {
    font-size: 18px;
    color: #1c1c1c;
  }
  .sidenav__menu__cart ul li a span {
    height: 13px;
    width: 13px;
    background: #7fad39;
    font-size: 10px;
    color: #ffffff;
    line-height: 13px;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -12px;
  }
  .sidenav__menu__cart .header__cart__price {
    font-size: 14px;
    color: #6f6f6f;
    display: inline-block;
  }
  .sidenav__menu__cart .header__cart__price span {
    color: #252525;
    font-weight: 700;
  }
  .sidenav__menu__cart {
    margin-bottom: 25px;
  }
  .sidenav__menu__widget {
    margin-bottom: 20px;
  }
  .sidenav__menu__widget .header__top__right__language {
    margin-right: 20px;
  }
  .sidenav__menu__nav {
    display: none;
  }
  .sidenav .header__top__right__social {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .sidenav .slicknav_btn {
    display: none;
  }
  .sidenav .slicknav_nav .slicknav_item a {
    border-bottom: none !important;
  }
  .sidenav .slicknav_nav {
    display: block !important;
  }
  .sidenav .slicknav_menu {
    background: transparent;
    padding: 0;
    margin-bottom: 30px;
  }
  .sidenav .slicknav_nav ul {
    margin: 0;
  }
  .sidenav .slicknav_nav a {
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    border-bottom: 1px solid #e1e1e1;
  }
  .sidenav .slicknav_nav a:hover {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: transparent;
    color: #7fad39;
  }
  .sidenav .slicknav_nav .slicknav_row,
  .sidenav .slicknav_nav a {
    padding: 8px 0;
  }

  .customBackdrop {
    background-color: #1c1c1c!important;
    opacity: 0.5 !important;
}
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  #main {
	transition: margin-left .5s;
	padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }


  /* User Profile Icon*/
.profile-icon{
  margin-left: 22px;
}
.profile-icon:before{
  position: absolute;
    right: 70px;
    top: 19px;
    height: 20px;
    width: 1px;
    background: #000000;
    opacity: 0.1;
    content: "";
}

a:focus,
a:active{
  color: black;
  text-decoration: none;
  box-shadow: transparent 0px 1px 4px;
}
 