<div class="contact-form spad">
  <section class="breadcrumb-section set-bg col-12 mb-5">
    <img src="assets/img/titleBG.jpg" class="col-12"
      style="max-height: 150px; filter: brightness(50%); position: absolute;" alt="">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="breadcrumb__text">
            <h2>User Profile</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row" (click)="imgInput.click()">
      <div
        class="product-img-container d-flex justify-content-center m-auto col-xl-12 col-lg-12 col-md-8 col-sm-10 col-10">
        <label for="add-product-imgage" style="cursor: pointer">
          <div class="media">
            <div class="overlay rounder-hover"></div>
            <img *ngIf="!img" class="user-img" src="assets/img/upload-default.png" />
            <img *ngIf="img" class="user-img embed-responsive-item" [src]="img" />
            <div class="image-details">Upload image</div>
          </div>
          <input #imgInput type="file" class="form-control rounded-circle" style="display: none" id="add-product-image-hidden" name="img" (change)="imageSelected($event)" />
        </label>
      </div>
    </div>
    <form>
      <div class="row">
        <div class="col-lg-6">
          <h5>First Name</h5>
          <input type="text" name="first-name" [(ngModel)]="this.User.name.first" />
        </div>
        <div class="col-lg-6">
          <h5>Last Name</h5>
          <input type="text" name="last-name" [(ngModel)]="this.User.name.last" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h5>Email</h5>
          <input type="text" disabled name="email" [(ngModel)]="this.User.email" />
        </div>
        <div class="col-lg-6">
          <h5>Phone Number</h5>
          <input name="phone" [(ngModel)]="this.User.phone" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <h5>Role</h5>
          <input name="role" disabled [(ngModel)]="this.User.role" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12" style="cursor: pointer;" #addresses id="addresses">
          <p class="h5" (click)="addNewAddressInput(addresses)">
            Addresses
            <i class="fa fa-plus" aria-hidden="true"></i>
          </p>
        </div>
      </div>
      <div class="text-center">
        <button type="button" class="btn site-btn text-center mx-2" (click)="onSubmit()">
          Update
        </button>
        <button type="button" class="btn btn-secondary text-center" style="padding: 13px 30px 12px;" (click)="onCancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
