<div class="contact-form spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="contact__form__title">
          <h2>User Details</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="contact__form__title">
          <div class="image-upload">
            <label for="file-input">
              <img
                *ngIf="!img"
                class="rounded-circle"
                width="200px"
                src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
              />
              <img
                *ngIf="img"
                class="rounded-circle"
                width="200px"
                [src]="img"
              />
            </label>

            <input
              id="file-input"
              type="file"
              (change)="imageSelected($event)"
            />
          </div>
        </div>
      </div>
    </div>
    <form>
      <div class="row">
        <div class="col-lg-6">
          <h5>First Name</h5>
          <input
            type="text"
            name="first-name"
            [(ngModel)]="this.User.name.first"
          />
        </div>
        <div class="col-lg-6">
          <h5>Last Name</h5>
          <input
            type="text"
            name="last-name"
            [(ngModel)]="this.User.name.last"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h5>Email</h5>
          <input
            type="text"
            disabled
            name="email"
            [(ngModel)]="this.User.email"
          />
        </div>
        <div class="col-lg-6">
          <h5>Phone Number</h5>
          <input name="phone" [(ngModel)]="this.User.phone" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <h5>Role</h5>
          <input name="role" disabled [(ngModel)]="this.User.role" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12" #addresses id="addresses">
          <p class="h5">
            Addresses
            <i
              class="fa fa-plus"
              aria-hidden="true"
              (click)="addNewAddressInput(addresses)"
            ></i>
          </p>
        </div>
      </div>
      <div class="text-center">
        <button type="button" class="site-btn text-center" (click)="onSubmit()">
          Update
        </button>
      </div>
    </form>
  </div>
</div>
