<!-- Checkout Section Begin -->
<section class="checkout spad">
  <div class="container">
    <div class="checkout__form">
      <h4>Billing Details</h4>
      <form action="#">
        <div class="row">
          <div class="col-lg-8 col-md-6">
            <div class="checkout__input">
              <p class="h3">Addresses</p>
              <p>Please select one address</p>
              <div #addresses>
                <input
                  *ngFor="let address of userAddresses; let itemIndex = index"
                  readonly="readonly"
                  type="text"
                  [value]="address"
                  placeholder="Street Address"
                  class="checkout__input__add h"
                  (click)="selectAddress(itemIndex, addresses)"
                />
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="checkout__order">
              <h4>Your Order</h4>
              <div class="checkout__order__products">
                Products <span>Total</span>
              </div>
              <ul *ngFor="let product of cart.Products; let itemIndex = index">
                <li>
                  {{ product.product.name }}
                  <span>${{ product.product.price * product.Count }}</span>
                </li>
              </ul>
              <div class="checkout__order__subtotal">
                Subtotal <span>${{ calcCartTotal().toFixed(2) }}</span>
              </div>
              <div class="checkout__order__total">
                Total <span>${{ calcCartTotal().toFixed(2) }}</span>
              </div>

              <button type="submit" class="site-btn" (click)="CheckOut()">
                PLACE ORDER
              </button>
              <div class="mt-2" id="paypal-button"></div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- Checkout Section End -->
