    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                [src]="selectedImage" alt="">
                        </div>
                        <!-- TODO support multiple images -->
                        <owl-carousel-o class="product__details__pic__slider">
                            <ng-container *ngFor="let slide of product.imagesURL">
                              <ng-template carouselSlide >
                                <img [src]="slide" (click)="updateSelected($event)">
                              </ng-template>
                            </ng-container>
                          </owl-carousel-o>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>{{product.name}}</h3>
                        <app-rating-stars></app-rating-stars>
                        <div class="product__details__price">${{product.price}}</div>
                        <p>{{product.shortDescription}}</p>
                        <!-- TODO add improve UI add left and right buttons -->
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <!-- <span class="dec qtybtn">-</span> -->
                                    <input type="number" value="{{product.availableInventory?1:0}}" min="0" [max]="product.availableInventory">
                                    <!-- <span class="inc qtybtn">+</span> -->
                                </div>
                            </div>
                        </div>

                        <a href="#" >
                            <button class="primary-btn btn btn-success">
                                ADD TO CARD
                            </button>
                        </a>
                        
                        <ul>
                            <li><b>Availability</b> <span>{{product.availableInventory?"in stock":"out of stock"}}</span></li>
                            <!-- <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li> -->
                            <li><b>Weight</b> <span>{{product.weight}} kg</span></li>
                            <li><b>Share on</b>
                                <div class="share">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                    aria-selected="false">Information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                                    aria-selected="false">Reviews <span>(1)</span></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products Description</h6>
                                    <p>{{product.productInformation}}</p>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products Infomation</h6>
                                    <p>{{product.longDescription}}</p>
                                    
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products Infomation</h6>
                                    <app-reviews></app-reviews>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->