.user-link {
    background-color: initial;
    border-color: #7fad39;
    color: #7fad39;
    text-decoration: none;
}

.user-link:hover {
    background-color: #7fad39;
    color: black;   
}

.table-success {
    background-color: #7fad39;
}

.table-success:hover {
    background-color: #8cae5a;
}