<section class="breadcrumb-section set-bg col-12 mb-5">
  <img src="assets/img/titleBG.jpg" class="col-12"
    style="max-height: 150px; filter: brightness(50%); position: absolute;" alt="">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2><i class="bi bi-cart2"></i> Cart</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  *ngIf="cartService.getCart()?.Products?.length || 0 > 0"
  class="shoping-cart spad"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="shoping__cart__table">
          <table>
            <thead>
              <tr>
                <th class="shoping__product">Products</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let product of Products.Products; let itemIndex = index"
              >
                <td class="shoping__cart__item">
                  <img
                    src="{{ product.product.imgURL }}"
                    height="100px"
                    width="100px"
                    alt=""
                  />
                  <h5>{{ product.product.name }}</h5>
                </td>
                <td class="shoping__cart__price">
                  EGP {{ product.product.price.toFixed(2) }}
                </td>
                <td class="shoping__cart__quantity">
                  <div class="quantity">
                    <div class="pro-qty">
                      <span
                        [attr.disabled]="product.Count <= 1"
                        class="dec qtybtn"
                        (click)="dec(product.product)"
                        >-</span
                      >
                      <input disabled type="text" [(ngModel)]="product.Count" />
                      <span
                        [attr.disabled]="
                          product.Count + 1 <=
                          product.product.availableInventory
                        "
                        class="inc qtybtn"
                        (click)="inc(product.product)"
                        >+</span
                      >
                    </div>
                  </div>
                </td>
                <td class="shoping__cart__total">
                  EGP {{ (product.product.price * product.Count).toFixed(2) }}
                </td>
                <td class="shoping__cart__item__close">
                  <span
                    class="icon_close"
                    (click)="removeItem(product.product)"
                  ></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="shoping__cart__btns">
          <a href="/home" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="shoping__checkout">
          <h5>Cart Total</h5>
          <ul>
            <li>
              Total <span>EGP {{ calcCartTotal().toFixed(2) }}</span>
            </li>
          </ul>
          <a routerLink="/checkout" class="primary-btn">PROCEED TO CHECKOUT</a>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="cartService.getCart()?.Products?.length == 0" style="height: 60vh">
  <p class="h1 text-center mt-5">No Products To show</p>
  <div class="content">
    <a href="/home" class="site-btn home-btn">Back to Home</a>
  </div>
</div>
